@page "/edit/{id:int}"
@using DAL.Entities
@using PL.Service
@inject IArtisService ArtisService
@inject NavigationManager NavigationManage


<h3>Edit</h3>

@if (artist == null)
{
    <p>Loading</p>
}
else
{
    <EditForm Model="artist" OnValidSubmit="HandleSubmit">
        <div class="mb-3">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="artist.Name" />
        </div>
        <div class="mb-3">
            <label>Bio</label>
            <InputText class="form-control" @bind-Value="artist.Bio" />
        </div>
        <div class="mb-3">
            <label>Country</label>
            <InputText class="form-control" @bind-Value="artist.Country" />
        </div>
        <div class="mb-3">
            <label>DateOfBirth</label>
            <InputDate class="form-control" @bind-Value="artist.DateOfBirth" Required="true" />
        </div>
        <button class="btn btn-primary" type="submit">Sửa</button>
        <button class="btn btn-secondary" type="button" @onclick="Back">Hủy</button>
    </EditForm>
}

@code {
    [Parameter]
    public int id{ get; set; }
    private Artist artist;

    protected override async Task OnInitializedAsync()
    {
        artist = await ArtisService.GetByIdAsync(id);
    }

    private async Task HandleSubmit()
    {
        await ArtisService.UpdateAsync(id, artist);
        NavigationManage.NavigateTo("/list");
    }

    private async Task Back()
    {
        NavigationManage.NavigateTo("/list");
    }

}
